In [1]:
import gzip
import pickle
import pandas as pd

In [2]:
PP_recipes = pd.read_csv("PP_recipes.csv")

In [3]:
PP_users = pd.read_csv("PP_users.csv")

In [4]:
ingredients_mapping = pd.read_pickle("ingr_map.pkl", compression='infer', storage_options=None)

In [5]:
ingredients_mapping

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
...,...,...,...,...,...,...,...
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [8]:
ingredients_mapping.to_csv("ingredients_mapping.csv", index=False)

In [7]:
raw_recipes = pd.read_csv("RAW_recipes.csv")

In [21]:
raw_recipes.columns

Index(['name', 'id', 'minutes', 'contributor_id', 'submitted', 'tags',
       'nutrition', 'n_steps', 'steps', 'description', 'ingredients',
       'n_ingredients'],
      dtype='object')

In [15]:
recipes_search_terms = pd.read_csv("recipes_w_search_terms.csv")

In [16]:
recipes_search_terms.columns

Index(['id', 'name', 'description', 'ingredients', 'ingredients_raw_str',
       'serving_size', 'servings', 'steps', 'tags', 'search_terms'],
      dtype='object')

In [17]:
recipes_search_terms[recipes_search_terms["id"] == 10000]

,id,name,description,ingredients,ingredients_raw_str,serving_size,servings,steps,tags,search_terms
249085,10000,Tomato Paste,Another way to get rid of the massive tomato h...,"['tomatoes', 'salt']","[""48 large tomatoes"",""2 teaspoons sa...",1 (8748 g),1,"['Peel, core and chop tomatoes; measure to 8 q...","['weeknight', 'time-to-make', 'preparation', '...","{'low-calorie', 'low-sodium', 'healthy', 'low-..."

In [18]:
raw_recipes[raw_recipes["id"] == 10000]

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
214989,tomato paste,10000,195,10404,2001-07-05,"['weeknight', 'time-to-make', 'preparation', '...","[196.6, 3.0, 114.0, 26.0, 19.0, 2.0, 14.0]",8,"['peel , core and chop tomatoes', 'measure to ...",another way to get rid of the massive tomato h...,"['tomatoes', 'salt']",2