In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import plotly_express as px
import warnings
import collections
warnings.filterwarnings("ignore")
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity



import os
import pymysql
from sqlalchemy import create_engine



import nltk
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords

In [3]:
from nltk.tokenize import word_tokenize
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download('punkt')


#tokens = word_tokenize(text)
#tokens[:15]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rober\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
# stemming cleaning technique -> treats prefixes and suffixes. NOT USED
from nltk.stem import PorterStemmer

ps = PorterStemmer()
# stemmed = [ps.stem(w) for w in tokens]
#stemmed[:15]

In [5]:
nltk.download('wordnet') # wordnet is the most well known lemmatizer for english
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet

lemmatizer = WordNetLemmatizer() 
#lemmatized = [lemmatizer.lemmatize(word) for word in tokens]
#lemmatized[:15]

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rober\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

##  <font color='CornflowerBlue'><center><strong>I. <ins>Transforming the DataFrame to use it for my Recipe Recommender </ins> </strong><center><font color='blue'></font>

In [6]:
df = pd.read_csv("ALL_RECIPES.csv")

In [7]:
df.head(2)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,list_instructions,website_id,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features
0,JO1,Tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,['Peel and very finely slice the onion and pot...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tortilla frittata ['1 onion', '1kg potatoes', ..."
1,JO2,Stuffed folded flatbread,https://www.jamieoliver.com/recipes/lunch-reci...,700g frozen chargrilled Mediterranean veg ...,Method\n\n ...,undefined,4,undefined,['Calories \n\n...,2,...,"['Preheat the oven to 200°C', 'Tip the frozen ...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stuffed folded flatbread ['700g frozen chargri...

In [8]:
df.dropna(subset=["recipe_id"], inplace=True)

df["recipe_id"] = df["recipe_id"].astype(str)

In [15]:
def custom_sort_key(x):
    if x[0].isalpha():
        return (0, x)  
    else:
        return (1, x)  

df = df.iloc[df['recipe_id'].apply(custom_sort_key).argsort()]

In [12]:
#df_sorted.shape

(496342, 22)

In [14]:
df.shape

(496342, 22)

In [ ]:
#password = os.getenv("myslqp")
#engine = create_engine("mysql+pymysql://root:"+password+"@localhost/recipes")

In [17]:
df.shape

(496342, 22)

In [16]:
df.dropna(subset=['recipe'], inplace=True)
df["website_id"].fillna("3")
df.fillna("")
df.head(1)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,list_instructions,website_id,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features
0,JO1,Tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,['Peel and very finely slice the onion and pot...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tortilla frittata ['1 onion', '1kg potatoes', ..."

In [18]:
df["recipe_id"] = df["recipe_id"].astype(str)

In [19]:
def combine_features(row):
    combined = ' '.join([
        str(row['recipe']), 
        str(row['list_ingredients']), 
        str(row['list_instructions']), 
        str(row['meal']), 
        str(row['category']), 
        str(row['tags']), 
        str(row['search_terms']),
        str(row['description']) 
    ])
    return combined

df['combined_features'] = df.apply(combine_features, axis=1).str.lower()

In [21]:
df.head(2)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,list_instructions,website_id,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features
0,JO1,Tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,['Peel and very finely slice the onion and pot...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tortilla frittata ['1 onion', '1kg potatoes', ..."
9,JO10,Super green smoothie,https://www.jamieoliver.com/recipes/fruit-reci...,1 ...,Method\n\nPeel the banana and place in a blend...,undefined,error,undefined,error,2,...,['Peel the banana and place in a blender with ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Super green smoothie ['1 ...

In [23]:
df.reset_index(drop=True, inplace=True)
df.head(3)
#df.drop(columns=["index"])

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,list_instructions,website_id,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features
0,JO1,Tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,['Peel and very finely slice the onion and pot...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tortilla frittata ['1 onion', '1kg potatoes', ..."
1,JO10,Super green smoothie,https://www.jamieoliver.com/recipes/fruit-reci...,1 ...,Method\n\nPeel the banana and place in a blend...,undefined,error,undefined,error,2,...,['Peel the banana and place in a blender with ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Super green smoothie ['1 ...
2,JO100,Smoky veggie chilli,https://www.jamieoliver.com/recipes/vegetable-...,3 ...,Method\n\nPut a large casserole dish on a medi...,undefined,8,undefined,['Calories \n\n...,2,...,['Put a large casserole dish on a medium-low h...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Smoky veggie chilli ['3 ...

In [24]:
df.shape

(496342, 22)

In [25]:
df.to_csv("ALL_RECIPES.csv", index=False)
#df.to_sql("all_recipes", con=engine, index=False, if_exists="replace", schema="recipes")

In [ ]:
#def custom_sort_key(x):
  #  if x[0].isalpha():
    #    return (0, x)  
    #else:
     #   return (1, x)  

#df_sorted = df.iloc[df['recipe_id'].apply(custom_sort_key).argsort()]

In [27]:
df["recipe"] = df["recipe"].str.lower()
df["description"] = df["description"].str.lower()
df["list_ingredients"] = df["list_ingredients"].str.lower()
df['list_instructions'] = df['list_instructions'].str.lower()
df['combined_features'] = df['combined_features'].str.lower()
df.head(1)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,list_instructions,website_id,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features
0,JO1,tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,['peel and very finely slice the onion and pot...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tortilla frittata ['1 onion', '1kg potatoes', ..."

In [28]:
df.head(2)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,list_instructions,website_id,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features
0,JO1,tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,['peel and very finely slice the onion and pot...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tortilla frittata ['1 onion', '1kg potatoes', ..."
1,JO10,super green smoothie,https://www.jamieoliver.com/recipes/fruit-reci...,1 ...,Method\n\nPeel the banana and place in a blend...,undefined,error,undefined,error,2,...,['peel the banana and place in a blender with ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,super green smoothie ['1 ...

In [32]:
df["tokens"] = df["combined_features"].apply(lambda x: word_tokenize(str(x)))

In [33]:
df.head(2)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,website_id,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features,tokens
0,JO1,tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tortilla frittata ['1 onion', '1kg potatoes', ...","[tortilla, frittata, [, ', 1, onion, ', ,, '1k..."
1,JO10,super green smoothie,https://www.jamieoliver.com/recipes/fruit-reci...,1 ...,Method\n\nPeel the banana and place in a blend...,undefined,error,undefined,error,2,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,super green smoothie ['1 ...,"[super, green, smoothie, [, ', 1, ripe, banana..."

In [34]:
df.to_csv("all_recipes_with_tokens.csv") #back up

In [35]:
# removing punctuation after tokenization since punctuation is unlikely to be a good predictive feature

df["tokens2"] = df["tokens"].apply(lambda tokens: [word for word in tokens if word.isalnum()])
df.head(2)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features,tokens,tokens2
0,JO1,tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tortilla frittata ['1 onion', '1kg potatoes', ...","[tortilla, frittata, [, ', 1, onion, ', ,, '1k...","[tortilla, frittata, 1, onion, potatoes, 5, la..."
1,JO10,super green smoothie,https://www.jamieoliver.com/recipes/fruit-reci...,1 ...,Method\n\nPeel the banana and place in a blend...,undefined,error,undefined,error,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,super green smoothie ['1 ...,"[super, green, smoothie, [, ', 1, ripe, banana...","[super, green, smoothie, 1, ripe, banana, 1, a..."

In [ ]:
# stemming -> treats prefixes and suffixes.
#from nltk.stem import PorterStemmer

#ps = PorterStemmer()
#df["stemmed"]  = df["tokens2"].apply(lambda tokens:[ ps.stem(w) for w in tokens])
#df.head(2)

In [37]:
df["tokens2"] = df["tokens"].apply(lambda tokens: [word for word in tokens if word.isalnum() and not word.isdigit()])

In [38]:
df.head(2)

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,description,serving_size,tags,search_terms,category,meal,meal_id,combined_features,tokens,tokens2
0,JO1,tortilla frittata,https://www.jamieoliver.com/recipes/lunch-reci...,1 onion ...,Method\n\n ...,undefined,6,undefined,['Calories \n\n...,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tortilla frittata ['1 onion', '1kg potatoes', ...","[tortilla, frittata, [, ', 1, onion, ', ,, '1k...","[tortilla, frittata, onion, potatoes, large, e..."
1,JO10,super green smoothie,https://www.jamieoliver.com/recipes/fruit-reci...,1 ...,Method\n\nPeel the banana and place in a blend...,undefined,error,undefined,error,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,super green smoothie ['1 ...,"[super, green, smoothie, [, ', 1, ripe, banana...","[super, green, smoothie, ripe, banana, apple, ..."

In [39]:
df.to_csv("all_recipes_with_tokens.csv") #back up

In [40]:
lemmatizer = WordNetLemmatizer() 
df["lemmatized"] = df["tokens2"].apply(lambda tokens:[lemmatizer.lemmatize(word) for word in tokens])

In [41]:
df.to_csv("all_recipes_with_tokens.csv") #back up

In [6]:
df = pd.read_csv("all_recipes_with_tokens.csv") # HERE

In [ ]:
df.head(2)

In [1]:
df["lemmatized2"] = df["lemmatized"].apply(lambda tokens: [token.lower() for token in tokens if isinstance(token, str) and token.strip() and token.strip() != 'nan']) # deleting empty tokens

NameError: name 'df' is not defined

In [ ]:
df["lemmatized3"] = df["lemmatized2"]apply(lambda tokens: list(set(tokens)))

In [ ]:
df["lemmatized3"] = df["lemmatized2"].apply(lambda tokens: list(set(tokens))) # taking only unique values

##  <font color='CornflowerBlue'><center><strong>II. <ins>Creating the Recipe Recommender </ins> </strong><center><font color='blue'></font>

In [44]:
len(df["lemmatized"][0])

245

In [ ]:
#df = pd.read("all_recipes_with_tokens.csv")

In [ ]:
dfs = df.iloc[:10000]

In [ ]:
dfs.shape
#dfs.reset_index(inplace=True)

In [ ]:
dfs["website_id"].value_counts()

website_id
1.0    573
2.0    521
4.0    285
Name: count, dtype: int64

In [ ]:
#cv_char = CountVectorizer(analyzer='char_wb', ngram_range = (2,2))

In [ ]:
cv_char = CountVectorizer(analyzer='char_wb', ngram_range = (2,2))
list_recipes = list(dfs["recipe"])

In [ ]:
len(list_recipes)

10000

In [ ]:
def user_recipe():
    user_recipe = input("Give me a recipe that you like:")
    return user_recipe

In [ ]:
user_recipe = 'burrito'

In [ ]:
list_recipes.append(user_recipe)

In [ ]:
count_matrix = cv_char.fit_transform(list_recipes)
cosine_sim = cosine_similarity(count_matrix)
similar_recipes = list(enumerate(cosine_sim[-1]))
sorted_similar_recipes = sorted(similar_recipes,key=lambda x:x[1],reverse=True)[1:]
suggested_ids = [d[0] for d in sorted_similar_recipes[:5]]
dfs.loc[suggested_ids]

In [ ]:
cosine_sim = cosine_similarity(count_matrix)
similar_recipes = list(enumerate(cosine_sim[-1]))
sorted_similar_recipes = sorted(similar_recipes,key=lambda x:x[1],reverse=True)[1:]
suggested_id = [d[0] for d in sorted_similar_recipes[:1]]
dfs.loc[suggested_id]

,recipe_id,recipe,url,list_ingredients_raw,instructions_raw,category_id,serves,time_prep,nutrients_table,diet_id,...,serving_size,steps,tags,search_terms,meal,ingredients_raw,category,instructions,meal_id,combined_features
787,SV30,vegan burrito,https://simple-veganista.com/vegan-burrito/,NaN,Grain: Cook your grain according to package di...,31.0,error,15,NaN,1.0,...,NaN,NaN,entree,NaN,entree,1 cup dried rice (white or brown) or quinoa\n2...,mexican,NaN,NaN,vegan burrito ['1 cup dried rice (white or bro...

### inputing the recipe

In [ ]:
cv = CountVectorizer()

In [ ]:
re_user = dfs.loc[suggested_id]

In [ ]:
vege_df = dfs[dfs["diet_id"] == 1 or dfs["diet_id"] == 2]
vege_df.head(3)

In [ ]:
df_search = pd.concat(vege_df, re_user, axis=0)

In [ ]:
df_search = df_search.reset_index(drop=True)
df_search.head(2)

In [ ]:
list_features = df_search["lemmatized"]

count_matrix = cv.fit_transform(list_features)

In [ ]:
cosine_sim = cosine_similarity(count_matrix)
similar_recipes = list(enumerate(cosine_sim[-1]))
sorted_similar_recipes = sorted(similar_recipes,key=lambda x:x[1],reverse=True)[1:]
suggested_ids = [d[0] for d in sorted_similar_recipes[:3]]
final_recipes = df_search.loc[suggested_id]

In [ ]:
def search_recipe_name()

### Final Fonction:

In [ ]:
cv_char = CountVectorizer(analyzer='char_wb', ngram_range = (2,2))
list_recipes = list(dfs["recipe"])

In [ ]:
def user_recipe():
    user_recipe = input("Give me a recipe that you like:")
    return user_recipe

In [ ]:
def search_recipe_name(user_recipe):
    list_recipes.append(user_recipe)
    cosine_sim = cosine_similarity(count_matrix)
    similar_recipes = list(enumerate(cosine_sim[-1]))
    sorted_similar_recipes = sorted(similar_recipes,key=lambda x:x[1],reverse=True)[1:]
    suggested_id = [d[0] for d in sorted_similar_recipes[:1]]
    dfs.loc[suggested_id]

In [ ]:
def print_recipe(suggested_ids):
    print(f"Top similar recipes to {} ")
    for x in suggested_ids:
        final_recipes.loc[x]
        name = final_recipes["recipe"]
        ingredients = final_recipes["list_ingredients"]
        steps = final_recipes["list_instructions"]
        if name and ingredients and steps: 
            print(f"Recipe: {name}")
            print(f"Ingredients: {ingredients}")
            print(f"Steps: {steps}")