In [2]:
import csv
import os
import pymysql
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pandas as pd


 
password = os.getenv("myslqp")
engine = create_engine("mysql+pymysql://root:"+password+"@localhost/recipes")

In [23]:
foodcom = pd.read_csv("../kaggle-food-com/recipes_w_search_terms.csv")

In [ ]:
foodcom

In [25]:
foodcom = foodcom.rename(columns={"id": "recipe_id"})

In [26]:
foodcom = foodcom.rename(columns={"name": "recipe", "steps": "list_instructions", "ingredients": "list_ingredients"})

In [29]:
foodcom["search_terms"]

0         {'diabetic', 'low-calorie', 'vegetarian', 'low...
1                                      {'dinner', 'shrimp'}
2         {'vegetarian', 'salad', 'side', 'dinner', 'veg...
3                         {'side', 'vegetarian', 'italian'}
4                                                {'dinner'}
                                ...
494958                               {'breakfast', 'bread'}
494959                                {'dinner', 'chicken'}
494960        {'roast', 'dinner', 'low-sodium', 'low-carb'}
494961                                           {'dinner'}
494962                {'southern', 'pie', 'dinner', 'side'}
Name: search_terms, Length: 494963, dtype: object

In [30]:
def determine_diet(search_terms):
    if 'vegan' in search_terms and 'vegetarian' not in search_terms:
        return 'vegan'
    elif 'vegetarian' in search_terms and 'vegan' not in search_terms:
        return 'vegetarian'
    elif 'vegan' in search_terms and 'vegetarian' in search_terms:
        return 'vegan'
    else:
        return 'other'


foodcom['presumed_diet'] = foodcom['search_terms'].apply(determine_diet)

In [31]:
foodcom['presumed_diet']

0         vegetarian
1              other
2              vegan
3         vegetarian
4              other
             ...
494958         other
494959         other
494960         other
494961         other
494962         other
Name: presumed_diet, Length: 494963, dtype: object

In [33]:
foodcom.to_sql('foodcom_re_se', con=engine, schema="recipes", if_exists='replace', index=False)

494963

In [34]:
ingredients_mapping = pd.read_csv("../kaggle-food-com/ingredients_mapping.csv")

In [36]:
ingredients_mapping
ingredients_mapping= ingredients_mapping.rename(columns={"id": "ingr_id"})

In [37]:
column_to_move = "ingr_id"

idx = ingredients_mapping.columns.get_loc(column_to_move)

ingredients_mapping.insert(0, column_to_move, ingredients_mapping.pop(column_to_move))

In [38]:
ingredients_mapping

,ingr_id,raw_ingr,raw_words,processed,len_proc,replaced,count
0,4308,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507
1,4308,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507
2,4308,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507
3,4308,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507
4,4308,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507
...,...,...,...,...,...,...,...
11654,6702,soybeans,1,soybean,7,soybean,31
11655,3318,goose,1,goose,5,goose,8
11656,47,ajwain,1,ajwain,6,ajwain,13
11657,750,brinjals,1,brinjal,7,brinjal,2
11658,4061,khoya,1,khoya,5,khoya,6

In [39]:
ingredients_mapping.to_sql('foodcom_ingr_map', con=engine, schema="recipes", if_exists='replace', index=False)

11659

In [51]:
recipes_raw = pd.read_csv("../kaggle-food-com/RAW_recipes.csv")

In [41]:
recipes_raw.shape

(231637, 12)

In [46]:
foodcom.shape

(494963, 11)

In [45]:
foodcom["recipe"].duplicated().sum()

82162

In [ ]:
foodcom.head()

In [52]:
recipes_raw.head(4)
recipes_raw = recipes_raw.rename(columns={"id": "recipe_id", "name": "recipe", "steps": "list_instructions", "ingredients": "list_ingredients"})

In [55]:
column_to_move = "recipe_id"

idx = recipes_raw.columns.get_loc(column_to_move)

recipes_raw.insert(0, column_to_move, recipes_raw.pop(column_to_move))

In [ ]:
recipes_raw.head()

In [58]:
recipes_raw.to_sql("foodcom_recipes_raw", con=engine, index=False, if_exists="replace", schema="recipes")

231637

In [59]:
gg= pd.read_csv("../api_data_retrieving/global_goals_indicators.csv")

In [61]:
gg.drop(columns=["Unnamed: 0"], inplace=True)

In [63]:
gg.to_sql("gg_indicators", con=engine, index=False, if_exists="replace", schema="global_goals")

19

In [ ]:
gg.rename(columns=["Unnamed: 0"], inplace=True)